* {
  margin: 0;
  padding: 0;
}

.date {
  display: flex;
}

a {
  text-decoration: none;
  color: black;
}

.project-box,
.box-description,
.input.checkbox,
.input-image {
  border: 0px solid black;
  width: 300px;
  height: 40px;
  border-radius: 10px;
  box-shadow: 0px 1px black;
}

.input-start,
.input-end {
  border: 0px solid black;
  width: 150px;
  height: 40px;
  border-radius: 10px;
  box-shadow: 0px 1px black;
}

.tech-margin {
  display: flex;
}

/* Project List */
.my-project {
  margin-top: 1%;
  background-color: whitesmoke;
  padding-top: 5%;
}

.my-project .project-wlcm {
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 5%;
}

.my-project .container {
  display: flex;
  flex-direction: row;
  flex: 0 0 100%;
  flex-wrap: wrap;
}

.my-project .container .card {
  background-color: #fff;
  box-shadow: 1px 2px black;
  border: 1px solid black;
  border-radius: 10px;
  display: flex;
  flex: 0 0 30%;
  flex-direction: column;
  margin-left: 1%;
  margin-bottom: 1%;
  padding-left: 2%;
  padding-top: 1%;
}

.my-project .container .card .description {
  padding-top: 2%;
}

.my-project .container .card .image-grup {
  padding-top: 1%;
}

.my-project .container .card .btn-group {
  padding-top: 2%;
  padding-bottom: 2%;
}

.my-project .container .card .btn-group button {
  border: 1px solid black;
  color: white;
  background-color: black;
  border-radius: 10px;
  height: 100%;
  width: 40%;
}

/* Main Blog */
/* Blog margin */
.margin-blog {
  margin-top: 5%;
  margin-left: 10%;
  margin-right: 10%;
  display: flex;
  flex-direction: column;
}

/* Uppper text */
.margin-blog .upper-txt {
  text-align: center;
  padding-bottom: 2%;
}

/* Upper content */
.upper-content {
  display: flex;
  margin-bottom: 4%;
}

/* Upper left */
.upper-content .left-content {
  padding-right: 5%;
}

/* Upper Right */
.upper-content .right-content ul {
  list-style: none;
}

/* Duration content */
.upper-content .right-content .duration-content {
  padding-bottom: 20%;
}

.upper-content .right-content .duration-content ul {
  padding-top: 5%;
  display: inline-flex;
  flex-direction: column;
}

/* Technologies Content */

.upper-content .right-content .tecnology-content {
  display: flex;
  flex-direction: column;
}

.upper-content .right-content .tecnology-content .technology-list {
  display: flex;
  flex-direction: column;
}

/* Bottom Content */

.bottom-content {
  text-align: justify;
}
